@model DLL.DAL.Entities.Image

@{
    ViewBag.Title = "Upload";
}
@using (Html.BeginForm("Upload", "Image", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.DisplayNameFor(model => model.PhotoFile)
    <input type="file" name="Image"/>
}
<h2>Upload</h2>

