@model DLL.DAL.Entities.Image

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
@using (Html.BeginForm("Upload", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <tabel>

        <tr>
            <td Select File></td>

            <td>
                @Html.TextBoxFor(Model => Model.File, new { type = "file" })
                @Html.ValidationMessage("CustomError")
            </td>
            <td>
                <input type="submit" value="upload" />
            </td>


        </tr>

    </tabel>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}



